@import "base/reset";
@import "patternsgit remote set-url origin/header";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

html {
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
}

body {
  background-color: #ffbc03;
  display: flex;
  padding-left: 5vw;
  padding-top: 5vh;
}

.folder {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 50px;
  p {
    font-size: 10px;
  }
}

main.app-container {
  border: 3px solid black;
  border-radius: 10px;
  background-color: #f1e9dc;
  width: 80vw;
  height: 80vh;
}


