// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  margin-top: 10px;
  & .form-label {
    font-size: .8rem;
    font-weight: bold;
  }
  & .form-input {
    background-color: #fbf4e9;
    border: 2px solid #ece3d3;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
    padding: 0px 5px;
  }
  
  & .form-button {
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: transparent;
    padding: 5px 10px;
    font-size: .8rem;
    font-weight: bold;
  }
}
